alembic
bcrypt
chromadb
email-validator
fastapi
groq
langchain-text-splitters
numpy
psycopg2-binary
pymupdf
python-dotenv
python-jose[cryptography]
python-multipart
rank-bm25
scikit-learn
sentence-transformers
sqlalchemy
tiktoken
umap-learn
uvicorn[standard]
